:root{
    --main-colour: rgba(132, 132, 132) ;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: linear;
}
html{
    font-size: 62,5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--bg);
}
.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-size: 3rem;
}
.heading span{
    color: #585858;
    text-transform: uppercase; 
}

.logo:hover{
    transform: scale(1.2);
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 15pt;
    color: #fff;
}
.header .navbar a:hover{
    color: rgb(132, 132, 132);
    border-bottom: .1rem solid rgb(132, 132, 132);
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: rgb(132, 132, 132);
}




#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%; right: 1%;
    width: 20rem;
    height: 2rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: #585858;
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1rem;
    color: #ffffff;
    background: #161616;
}
.header .search-form label:hover{
    color: rgb(132, 132, 132);
}

.home{
    background-position:left;
    justify-content: center;
    text-align: center;
}
.home{
    min-height: 100vh;
     display: flex;
     align-items: center;
     background: url(../img/bg.jpg) no-repeat;
     background-size: cover;
     background-position: center;
 }
 .home .content{
     max-width: 60rem;
    }
 .home .content h3{
     font-size: 8rem;
     color: #ffffff;
     text-transform: uppercase;
 }
 .home .content h3 a{
    /*text-decoration: none;*/
    color: #fff;
 }
 .home .content h3 a span{
     color: #6f6f6f;
    }
    .home .content p{
    font-size: 1rem;
    color: #ffffff;
 }
 .game{
     padding-bottom: 4rem;
    }
 .game .box-container{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 30rem, 1fr));
    gap: 1.5rem;
}
.game .box-container .box{
    padding: 2.5rem;
    text-align: center;
    border: var(--border);
}
.game .box-container .box img{
    height: 10rem;
}
.game .box-container .box h3{
    color: #c7c7c7;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.game .box-container .box:hover{
    background: #292929;
}
.game .box-container .box:hover img{
    transform: scale(1.2);
}
.about{
    background: #0e0d0d9a;
    padding-bottom: 2rem;
}
.about .content{/*
    display: flex;
    flex-direction: row;
    justify-content: center;*/
}
.about .content h3{
    font-size: 1.5rem;
    color: #c7c7c7;
    text-align: center;
}
.about .content p{
    width: 80%;
    font-size: 1.2rem;
    color: #6f6f6f;
    text-align: center;
    padding: 1rem 0;
    line-height: 1.8;
}

.contact .row{
    display: flex;
    background: var(--bg);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 3rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 2rem ;
    color:#fff;
    align-items: center;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-left:25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #ff000000;
    border: var(--border);
    width: 50%;
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 1rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7;
    color: #fff;
    background: #585858;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
}
.btn:hover{
    letter-spacing: .1rem  ;
    box-sizing: border-box;
}
.hubungi{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 1.7;
    text-transform: uppercase;
}
.footer{
    background: var(--black);
}

.footer .share{
    padding: 1rem;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    text-align: center;
    border-radius: 50%;
    
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
    
}
.footer .share a:hover{
    color: #606060;}













    @media (max-width: 991px){
        html{
            font-size: 70%;
        }
        .header{
            padding: 1.5rem 2rem;
        }
    }
    
    @media (max-width: 900px){
       #menu-btn{
           display: inline-block;
       }
       .header .navbar{
           position: absolute;
           top: 100%; right:-100%;
           background: rgb(47, 47, 47);
           width: 15rem;
           height: calc(100vh - 9.5rem);
       }
       .header .navbar.active{
           right: 0 ;
       }
        .header .navbar a{
            color: #ffffff;
            display: block;
            margin: 1rem;
            padding: 2rem;
            font-size: 1.5rem;
       }
    }
    @media (max-width: 900px){
        #search-btn{
            display: inline-block;
        }
        .header .search-form{
            width: 25rem;
            height: 3rem;
        }
        .header .search-form label{
            font-size: 2rem;
            background-color: transparent ;
        }
     }